@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;}

body{
    width: 100%;
    overflow-x: hidden;
    position: relative;
    padding-bottom: 3em;
    min-height: 100%;
    min-width: 100%;
}

/*.back-body{
    background: #eafff3;
}*/

/* HEADER */
header{
    height: 100%;
    background: #4d4d5c;
    padding: 0 2%;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 70px;
    height: 70px;
}

h1{
    color: #6cc091;
    font-weight: 200;
    padding-right: 100px;
}

.hist h2{
    color: #6cc091;
    text-align:center;
    margin-top: 20px;
}

.hist p{
    font-size: 15px;
    font-weight: 500;
    margin: 10px 100px ;
}

.menu a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: 300;
    padding: 0 10px;
    transition: 0.4s;
}

.mostrar-menu,
.esconder-menu{
    font-size: 30px;
    cursor: pointer;
    display: none;
    transition: 0.4s;
}

.mostrar-menu{
    order: 1;
}

.menu a:hover,
.mostrar-menu:hover,
.esconder-menu:hover{
    color: #6cc091;
    transition: 0.4s;
}

#check{
    display: none;
}

/* BANNER */
.banner{
    background-image: url(./asset/rocker/one-1.jpg);
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
}

/*.banner::before{
    content: "";
    background: rgba(77, 77, 92, 0.6);
    position: absolute;
    width: 100%;
    height: 45vh;
    left: 0;
}*/

.contenido-banner, .contenido-banner2{
    position: relative;
    color: #fff;
    width: 80%;
    height: 45vh;
    display: flex;
    flex-direction: column;
}

.contenido-banner h3{
    font-size: 30px;
    font-weight: 800;
    padding: 10px 0 0 15px;
}

.banner img{
    width: 200px;
    display: flex;
    margin: 40px 10px 0 1100px;
}

/* INFO */
.boton-leer-mas{
    display: inline-block;
    text-decoration: none;
    font-size: 15px;
    font-weight:600;
    color:#6cc091;
    padding: 10px 30px;
    border: 2px solid #6cc091;
    border-radius: 30px;
    margin: 0.5em 0 0;
    align-self: baseline;
    transition: 0.4s;
}

.boton-leer-mas:hover{
    background: #6cc091;
    color: white;
}

/* MARCAS */
.marcas{
    display: flex;
    margin: 10px 0 40px 60px; 
    justify-content: space-around;
}

.contenido-marcas img{
    width: 60%;
    border: 2px solid black;
    border-radius: 20px;
}


/*.contenido-marcas{
    padding: 30px 0 30px;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content:space-around;
}

.contenido-marcas div{
    margin: 70px 10px;
}*/

/* FOOTER */
footer{
    position: absolute;
    background-color: #4d4d5c;
    bottom: 0;
    padding: 0.5rem;
    font-size: 15px;
    color: white;
    text-align: center;
    width: 100%;
}
    /*background: #4d4d5c;
    color: #cccccc4a;
    text-align: center;
    padding: 1em 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 90px;*/

footer p{
    color: white;
    text-align: center;
    padding: 10px 0 0 5px;
}

.redsoc{
    color: white;
    font-size: 1.9vw;
    padding: 20px 15px;
}

.redsoc:hover{
    color: #6cc091;
    transition: 0.4s;
}

/* kayak.html */
.banner2 {
    min-height: 100vh;
    position: relative;
    /*padding: 0 50px ;
    height: 100%;
    background-size: cover;
    background-position: center;*/
    display: flex;
    flex-direction: column;
}

.banner2 .models h1{
    color: #6cc091;
    margin: 0 0 0 100px;
    padding-top: 10px;
    text-align:center;
    font-weight: 600;
    position: relative;
    z-index: 2;
}

.banner2 .models h4{
    position: relative;
    color: #6cc091;
    font-size: 20px;
    padding:30px 10px;
    margin-left: 90px;
    z-index: 2;
}

.models p{
    color: #fff;
    position: relative;
    font-size:15px;
    font-weight: 500;
    text-align: justify;
    margin: 10px 100px;
    z-index: 2;
}

.cartel{
    display:flex;
    justify-content: space-evenly;
    margin: 30px 0 40px;
}

.cartel img{
    width: 150px;
    margin-left: 60px;
    position: relative;
    z-index: 2;
}

video{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.kayak h4{
    position:relative;
    font-size:1.5rem;
    color:#6cc091;
    margin: 0 0 0 25px ;
    z-index: 2;
}

.kayak .ver-mas{
    position: relative;
    display: inline-block;
    text-decoration: none;
    font-size: 20px;
    font-weight:600;
    color:#6cc091;
    padding: 10px 30px 0 0;
    margin: 0 0 0 35px ;
    transition: 0.4s;
    z-index: 2;
}

.ver-mas:hover{
    color: #234231;
}

/* IMG.html */
.descrip-rocker .mod{
    display:flex;
    flex-wrap: wrap;
    padding-left:80px;
}

.mod img{
    width: 20%;
    margin: 20px;
    transition: 0.4s;
}

.mod img:hover{
    transform:scale(1.60);
    transition: 0.4s;
}



.modelos .descrip-rocker .mod{
    margin:  0 1% ;
}

.modelos h2{
    text-align: center;
    font-weight: 800;
    color: #6cc091;
}
.modelos .btn-volver #ancla0{
    margin-top: 1%;
}

.btn-volver{
    margin: 5px 0 35px auto;
    text-align: center;
}

#ancla0{
    margin: 10px 0.5% ;
}

#ancla2{
    margin: 1%;
}

/* IndumySegu.html y Container y card de index*/

.indu-segu{
    background-color: #f6efef;
}

.secciones{
    background:#fff;
    width: 100%;
    height: 50%;
}

.secciones h3{
    color: #6cc091;
    font-weight: 500;
    font-size: 20px;
    text-align: justify;
    margin: 30px 0 0 100px;
}

.secciones p{
    font-size: 15px;
    color: black;
    margin: 10px 100px;
}

.row img{
    width:15vw;
    margin: 0 40px;

}

.row{
    display:flex;
    padding: 20px;
}

.column{
    grid: 20%;
    padding: 20px;
}

.column img{
    margin-top: 5px;
}

.card p{
    text-align:inherit;

}

.container{
    margin: 10px 0 0 80px;
    width:100%;
    max-width: 1200px;
    height:auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.container .card{
    width: 250px;
    height: 400px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(1, 0, 0, 0.9);
    overflow: hidden;
    margin: 40px;
    text-align: center;
    transition: all 0.25s;
}

.container .card:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.container .card img{
    width: 150px;
    height: 200px;
}

.container .card h4{
    font-weight: 500;
    color: #6cc091;
}

.container .card p{
    padding: 0 1rem;
    font-size: 14px;
    font-weight: 300;
}

.cont-calzado{
    width: 100%;
}

.cont-calzado h3{
    color:#6cc091;
    font-weight: 500;
    font-size: 20px;
    margin: 30px 0 0 100px;
}

.calzado p{
    font-size: 15px;
    color: black;
    margin: 10px 100px;
    text-align: justify;
}

.cañas{
    width: 100%;
    height: auto;
    align-items:center;
    justify-content:center;
}

.cañas h3{
    color:#6cc091;
    font-weight: 500;
    font-size: 20px;
    margin: 30px 0 0 100px;
}

.cañas p{
    text-align:justify;
    font-size: 15px;
    margin: 30px 100px 10px 100px;
}

.caña-1{
    width: 250px;
    height: auto;
    margin:30px 0 0 100px;
}

.contenido-seguridad{
    width:100%;
    height:auto;
    margin-top: 70px;

}

.seguridad h3{
        color:#6cc091;
        font-weight: 500;
        font-size: 20px;
        margin: 30px 0 0 100px;
}
.seguridad h4{
    color:#6cc091;
    font-weight: 500;
    font-size: 18px;
    margin: 30px 0 0 100px;
}

.seguridad p{
    font-size: 15px;
    color: black;
    margin: 10px 100px;
    text-align: justify;
}

main{
    display: flex;
}

aside{
    background:#bad7c7;
    width: 300px;
    height:700px;
    margin: 100px 100px 0 0;
}

aside h4{
    color: #d76315;
    text-align: center;
    margin-top:10px;
    font-size: 20px;
}

aside img{
    width: 80%;
    margin: 25px 0 0 20px;
    border-radius: 20px;
}

.ifra-kay{
    margin: 50px 70px;
    display: flex;
    justify-content: space-between;
}

/* FORMULARIO */
.contacto{
    background: #6cc091;
    padding: 50px 0px;
    color: #fff;
}

.contacto h4{
    text-align: center;
    font-size: 25px;
    margin-bottom:20px;
}
.contacto #form{
    max-width: 80%;
    margin: 0 auto;
}

.datos-form{
    display: flex;
}

.datos-form div{
    padding: 10px;
    flex: 1;
}

.form label{
    display: block;
    margin-bottom: 10px;
}

.form input,
.form textarea{
    background: #6cc091;
    border-radius:10px;
    border: 2px solid #8dcca9;
    padding: 10px 5px;
    outline: 0;
    color: #fff;
    width: 100%;
}

.form input:focus,
.form textarea:focus{
    border-color: #4bae77;
    box-shadow: 0 0 0 1px #4bae77;
}

.mensaje{
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.boton-formulario input{
    display:inline-block;
    border: 1px solid #fff;
    color: #fff;
    text-align: center;
    transition: 0.4s;
    width: 8em;
}

.boton-formulario .boton-leer-mas:hover{
    background: #4fa776ad;
}

#error{
    color: blue;
    font-size:15px;
    font-weight:300;
    text-align:center;
}


/* RESPONSIVE */
@media (max-width:765px){
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .mostrar-menu,
    .esconder-menu{
        display: block;
    }

    .banner h3{
        color: #6cc091;
        text-align: center;
    }

    .banner{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .container{
        margin: auto auto auto;
    }

    .marcas{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
    
    .marcas .contenido-marcas{
        margin: 10px 40px 20px 0;
    }

    .marcas img{
        width: 80%;
        height: 80%;
    }

    .redsoc{
        color: white;
        font-size: 1.8vw;
        padding: 20px;
    }

    .redes .redsoc{
        font-size: 15px;
    }

    .contenido-marcas img{
        padding: 30px 0px;
    }

    .menu{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #4d4d5c;
        right: -100%;
        top: 0;
        text-align: center;
        padding: 100px 0px;
        z-index: 100;
        transition: 0.8s;
    }

    .menu a{
        display: block;
        padding: 20px;
    }

    .esconder-menu{
        position: absolute;
        top: 40px;
        right: 40px;
    }

    #check:checked ~ .menu{
        right: 0;
    }

    /* INFO */
    .info{
        width: 100%;
        flex-direction: column;
    }

    /* FORMULARIO */
    .datos-form{
        flex-direction: column;
    }

}

/* RESPONSIVE CELULAR */
@media (max-width:390px){
    body{
        width: 100vw;
        overflow-x: hidden;
        position: absolute;
        padding-bottom: 3em;
        min-height: 100vh;
        box-sizing: border-box;
    }

    .logo{
        display: none;
    }

    .hist p{
        margin: 15px;
        text-align:justify;
    }

    .banner{
        width: 500px;
        height:500px;
    }

    .banner img{
        display: none;
    }

    .contenido-banner{
        margin-bottom: 700px;
    }

    .contenido-banner2 h2{
        display: none;
    }

    .banner h3 {
        animation:none;
        margin-top: 5px;
        font-size:18px;
        color: #fff;
    }

    .contacto h4{
        padding: 20px;
    }

    h1{
        font-size: 25px;
    }

    img{
        width: 100%;
    }

    .container{
        margin: 0 10px 10px;
    }

    .marcas{
        display: grid;
        grid-template-columns: auto auto auto;
        width: 100%;
        margin-left:20px;
    }

    .contenido-marcas img{
        width: 100%;
    }

    .redes .redsoc{
        font-size: 15px;
    }

     /* FORMULARIO */
    .datos-form{
        flex-direction: column;
    }

    .contacto{
        padding: 0 0 150px;
    }
}